* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
table, th, td{
    border: 1px solid black;
    padding: 10px;
    border-collapse: collapse;
}
table {
    width: 100%;
    background-color: rgb(228, 224, 224);
    font-size: bold;
}
tr:nth-child(even) {
    background-color: grey;
    color: white;
}
th {
    font-size: 20px;
}
button {
    padding: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
}
#load {
    display: none;
}