* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
table, th, td{
    border: 1px solid black;
    padding: 10px;
    border-collapse: collapse;
}
table {
    width: 100%;
}
th {
    background-color: rgb(219, 218, 218);
}
th:nth-last-child(even) {
    background-color: grey;
}
td :nth-last-child(odd) {
    background-color: red;
    color: white;
    padding: 10px;
}
td {
    background-color: rgb(241, 241, 241);

    font-weight: bold;
}
